In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
books = []
for j in range(1,51):
    url = 'https://books.toscrape.com/catalogue/page-{}.html'.format(j)
    page = requests.get(url)
    page = page.content
    soup = BeautifulSoup(page, 'html.parser')
    ol = soup.find('ol')
    articles = ol.find_all('article', class_ = 'product_pod')
    
    
    for article in articles:
        image = article.find('img')
        title = image.attrs['alt']
        star = article.find('p')
        star = star['class'][1]
        price = article.find('p', class_ = 'price_color').text
        # print(price)
        price = price[1:]
        # print(price)
        price = float(price[1:])
        #print(price)
        books.append([title,star,price])

In [3]:
df = pd.DataFrame(books, columns = ['Title', 'Star', 'Price'])

In [4]:
df.to_csv('books.csv')

In [5]:
df.shape

(1000, 3)

In [6]:
df

                                                 Title   Star  Price
0                                 A Light in the Attic  Three   1.77
1                                   Tipping the Velvet    One   3.74
2                                           Soumission    One   0.10
3                                        Sharp Objects   Four   7.82
4                Sapiens: A Brief History of Humankind   Five   4.23
..                                                 ...    ...    ...
995  Alice in Wonderland (Alice's Adventures in Won...    One   5.53
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)   Four   7.06
997  A Spy's Devotion (The Regency Spies of London #1)   Five   6.97
998                1st to Die (Women's Murder Club #1)    One   3.98
999                 1,000 Places to See Before You Die   Five   6.08

[1000 rows x 3 columns]